<!DOCTYPE html>
<html lang="en-in">
    <head>
        <meta charset="UTF-8" name="viewport"  content=" width=device-width, initial-scale=1.0">
        <title>
        viyogi /\\/ enterprises
        </title>
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body>
        <div class="header">
            <a href="#">
                <h2>Viyogi /\\/ Enterprise</h2>
            </a>
        </div>
        <div class="head-nav flex-container">
            <a class="flex-type1" href="#">Home</a>
            <a class="flex-type2" href="#">Product</a>
            <a class="flex-type1" href="#">Project</a>
            <a class="flex-type2" href="#">Contact</a>
            <a class="flex-type1" href="#">About Us</a>
            <a class="flex-type2" href="#">SiteMap</a>
        </div>
        <hr>
        <hr>
        <div class="footer">
            <a href="#">
                <h3>Viyogi /\\/ Enterprise</h3>
            </a>
            <h4>&#169; Copyright 2021</h4>
        </div>
        <div class="foot-nav foot-flex">
            <a class="fo-flex-type1" href="#">Machine Learning </a>
            <a class="fo-flex-type2" href="#">Deep Learning </a>
            <a class="fo-flex-type1" href="#">Artificial Intelligence</a>
            <a class="fo-flex-type2" href="#">Software Development</a>
            <a class="fo-flex-type1" href="#">Android Development</a>
            <a class="fo-flex-type2" href="#">Web Development</a>
            <a class="fo-flex-type1" href="#">Quick Boost</a>
            <a class="fo-flex-type2" href="#">Research & Innovation</a>
        </div>
    </body>
</html>